<footer class="page-footer">
	<div class="inner">
		<div class="page-footer__top">
			{{#>menu
				class="menu-footer-main"
				label="Footer Main"
				keyboard=true
			}}
				{{#>menu-item title="Lorem ipsum"}}
					{{#>sub-menu}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
					{{/sub-menu}}
				{{/menu-item}}
				{{#>menu-item title="Lorem ipsum"}}
					{{#>sub-menu}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{#>menu-item title="Lorem ipsum dolor"}}
							{{#>sub-menu}}
								{{>menu-item title="Lorem ipsum dolor"}}
								{{>menu-item title="Lorem ipsum dolor"}}
								{{>menu-item title="Lorem ipsum dolor"}}
							{{/sub-menu}}
						{{/menu-item}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
					{{/sub-menu}}
				{{/menu-item}}
				{{#>menu-item title="Lorem ipsum"}}
					{{#>sub-menu}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
					{{/sub-menu}}
				{{/menu-item}}
				{{#>menu-item title="Lorem ipsum"}}
					{{#>sub-menu}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
						{{>menu-item title="Lorem ipsum dolor"}}
					{{/sub-menu}}
				{{/menu-item}}
			{{/menu}}
			<div class="page-footer__content">
				<div class="page-footer__contacts">
					<h3 class="page-footer__h3">Lorem ipsum dolor sit</h3>
					<p class="page-footer__p">
						Telephone:
						<a href="tel:+11111111111" class="page-footer__a">(111) 111-1111</a>
					</p>
					<p class="page-footer__p">
						Email:
						<a href="mailto:123456@site.com" class="page-footer__a">123456@site.com</a>
					</p>
					<p class="page-footer__p">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
					<p class="page-footer__p">Dallas, TX 75247</p>
				</div>
				{{>social-links class="social-links_toggle"}}
			</div>
		</div>
		<div class="page-footer__bottom">
			<div class="page-footer__wrapper">
				<p class="page-footer__copyright">© Lorem ipsum. All Rights Reserved</p>
				{{#>menu
					class="menu-footer-links"
					label="Footer Links"
					keyboard=true
				}}
					{{>menu-item title="Site Map"}}
					{{>menu-item title="Privacy"}}
					{{>menu-item title="Terms"}}
				{{/menu}}
			</div>
			<div class="page-footer__by">
				{{>by title="Dallas Web Design Agency:" href="https://www.webloftdesigns.com/" name="Web Loft Designs"}}
			</div>
		</div>
	</div>
</footer>
