{{#>menu
	class="menu-header-main-mobile"
	label="Header Main"
	wrapper="div"
	expend=true
}}
	{{>menu-item title="Home"}}
	{{#>menu-item title="About Us" modifier="current"}}
		{{#>sub-menu}}
			{{>menu-item title="Sub menu item II"}}
			{{>menu-item title="Sub menu item II"}}
			{{#>menu-item title="Sub menu item II"}}
				{{#>sub-menu}}
					{{>menu-item title="Sub menu item III"}}
					{{>menu-item title="Sub menu item III"}}
					{{>menu-item title="Sub menu item III"}}
				{{/sub-menu}}
			{{/menu-item}}
		{{/sub-menu}}
	{{/menu-item}}
	{{>menu-item title="Services"}}
	{{>menu-item title="Technology"}}
	{{>menu-item title="Careers"}}
	{{#>menu-item title="Contact"}}
		{{#>sub-menu}}
			{{>menu-item title="Sub menu item II"}}
			{{>menu-item title="Sub menu item II"}}
			{{>menu-item title="Sub menu item II"}}
		{{/sub-menu}}
	{{/menu-item}}
{{/menu}}
{{#>menu
	class="menu-header-second-mobile"
	label="Header Second"
	wrapper="div"
	expend=true
}}
	{{>menu-item title="(123) 456-7890" modifier="phone" href="tel:+1234567890"}}
	{{>menu-item title="Get A Quote" modifier="btn"}}
	{{#if (isWoocommerce)}}
		<li class="{{class}}__item cart menu-cart-link">
			{{>menu-cart-link linkText='My Cart' total='' count=3}}
		</li>
	{{/if}}
{{/menu}}
