@import "../variables-and-mixins.scss";

.breadcrumbs {
	background: rgba(84, 145, 214, 0.05);
	padding: 12px 0;

	&__list {
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		list-style: none;
		margin: 0;
	}

	&__item {
		display: inline-block;

		&:not(:last-child)::after {
			content: "|";
			display: inline-block;
			color: rgba(154, 154, 154, 0.3);
			font-size: 13px;
			vertical-align: top;
			margin: -1px 5px 0;
		}
	}

	&__link {
		letter-spacing: -0.03em;
		color: #9a9a9a;
		text-decoration: none;
		text-transform: capitalize;
		text-align: left;
		transition: color 0.3s;

		&[aria-current="page"] {
			color: $color-text-main;
			pointer-events: none;
		}

		&:hover,
		&:focus {
			color: $color-text-main;
			text-decoration: none;
		}
	}
}
