@import "./../variables-and-mixins.scss";
.facet-filters {
  padding: 10px 20px;
  border: 1px solid $color-colors-second;
  border-radius: 10px;
}
.facet-filters.sorting.caption{
    align-items: center;
}
.facets__disclosure {
  padding: 10px 20px;
  border: 1px solid $color-colors-second;
  border-radius: 10px;
}
.facets__summary-label {
  font-family: $font-family-global;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.04em;
  text-align: left;
}
.facet-filters__sort {
  font-family: $font-family-global;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.04em;
  text-align: left;
}
