@import "../variables-and-mixins.scss";

.leaders-gathering {
  padding: 60px 0 80px;

  @media ($lg) {
    padding-bottom: 100px;
  }

  &__legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;

    .line {
      flex: 1 0 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background: $color-colors-second;
      }
    }
  }

  &__title {
    max-width: 1070px;
    margin: 0 auto 30px;
    position: relative;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    max-width: 1070px;
    margin: 0 auto 80px;
  }

  p {
    font-weight: 700;
    font-size: calc(16px + (26 - 16) * ((100vw - 360px) / (1200 - 360)));
    line-height: 30px;
    letter-spacing: -0.02em;
    color: $color-colors-second;
    margin: 0;

    @media ($xxl) {
      font-size: 26px;
    }
  }

  &_dark {
    padding: 180px 0 50px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    @media ($sm) {
      padding-top: 203px;
    }

    @media ($lg) {
      padding-bottom: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
      height: 100%;
      background: $color-colors-second;
      border-radius: 100% 100% 0 0;
      z-index: -1;

      @media ($lg) {
        width: 1850px;
      }
    }

    p {
      color: $color-colors-white;
    }
  }

  &_dark &__text {
    p:first-child {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -18%;
        transform: translateY(-47%);
        width: 135%;
        height: 300%;

        @media ($xl) {
          left: -21%;
          width: 149%;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px 50px;
    position: relative;

    @media ($md) {
      flex: 1 0 0;
    }

    img {
      margin-bottom: 20px;
    }

    h3 {
      font-family: $font-family-Awesome-Serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 41px;
      color: $color-colors-second;
    }

    a {
      color: $color-colors-second;
      transition: color 0.3s;

      &:hover,
      &:focus {
        color: $color-colors-main;
        text-decoration: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__caption {
    position: absolute;
    top: -90px;
    left: 3px;
    font-family: $font-family-Awesome-Serif;
    font-weight: 400;
    font-style: italic;
    font-size: calc(18px + (30 - 18) * ((100vw - 360px) / (1200 - 360)));
    line-height: calc(24px + (30 - 24) * ((100vw - 360px) / (1200 - 360)));
    color: #029d50;
    width: fit-content;
    margin: 0;

    @media ($lg) {
      top: -71px;
    }

    @media ($xxl) {
      font-size: 30px;
      line-height: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 45%;
      right: -25%;
      width: 44.5%;
      height: 98px;
    }
  }
}
