@import "../variables-and-mixins.scss";

.collection-inner {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 93px;
  background: #383633;
  padding: 36px 0 36px 0;
  .my-collection-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 20px;

    .collection-list__item {
      list-style: none;
      max-width: max-content;
      .card__content {
        padding: 0;
        .card__information {
          padding: 0;
          .full-unstyled-link {
            color: #eae9e5;
            @include text-style-text-text-3;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

//

.custom-list-menu__item {
  padding: 17px 25px 17px 25px;
  max-width: max-content;
  border-radius: 10px;
  gap: 10px;
  background-color: #fff;
}

// colection option 3

.facets-wrapper {
  position: relative;
}
.tag-filters__item {
  background-color: #e2d1b8;
}
.tag-filters__item.active {
  background: rgb(188, 214, 150);
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  .tags-wrapper {
    display: flex;
    gap: 10px;
  }
}
.custom-container-filter.facets__disclosure {
  border: none;
  border-radius: 0;
  padding: 0;
  .custom-filter-tag {
    position: unset !important;
  }
}

.facets__label.facet-checkbox.active {
  background-color: #ebe3d8;
  opacity: 0.8;
}
.facets__disclosure {
  margin-right: 0px !important;
}

.filter-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  .custom-facets__wrapper {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
  .tegs-wrapper {
    width: 72%;

    box-shadow: 10px 0 10px -5px rgba(255, 255, 255, 0.8),
      /* смещение по горизонтали, смещение по вертикали, размытие, цвет */ -10px
        0 10px -5px rgba(255, 255, 255, 0.8);
    /* Тень слева */

    .facets-layout-list {
      display: flex;
      gap: 30px;
      padding: 0;
      .splide__slide {
        max-width: max-content;
        border-radius: 10px;
        background: #fff;
        .facets__label.facet-checkbox {
          padding: 17px 25px;
          .facet-checkbox__text {
            white-space: nowrap;
          }
        }
        .facets__label.facet-checkbox:hover .facet-checkbox__text {
          text-decoration: none;
        }
      }
    }
  }

  .splide__list {
    display: flex;
    transition: transform 0.5s ease;
  }

  #reviews-slider {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
.page-collection_slider-button-wrapper{
    .nextbtn{
      position: absolute;
      right: 20.8%;
      top: 20px;
    }
    .prevbtn{
      position: absolute;
      left: 15px;
      top: 20px;
    }
  .btn-wrapper_nextbtn,
  .btn-wrapper_prevbtn {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-wrapper_prevbtn{
    svg{
      transform: rotate(180deg);
    }
  }
}
.product-grid-container{
  margin-top: 30px;
}








