@import "../variables-and-mixins.scss";

.collection-inner {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 93px;
  background: #383633;
  padding: 36px 0 36px 0;
  .my-collection-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 20px;

    .collection-list__item {
      list-style: none;
      max-width: max-content;
      .card__content {
        padding: 0;
        .card__information {
          padding: 0;
          .full-unstyled-link {
            color: #eae9e5;
            @include text-style-text-text-3;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
.parent-display.facets__display {
  background-color: rgba(234, 233, 229, 1);
  max-width: max-content;
  .card__content {
    padding: 0rem;
    @media screen and (min-width: 750px) {
      .card__information {
        padding-bottom: 0.7rem;
        padding-top: 0.7rem;
      }
    }
  }
}
// colection option 3
.filter-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  .custom-facets__wrapper {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    .filter-dropdown-style {
      margin-right: 0;
    }
  }
  .scroll-trigger {
    width: 77%;
    .custom-container-filter {
      border: none;
      margin-right: 0;
      .swiper.mySwiper {
        .swiper-wrapper {
          max-width: 926px;
          height: 100%;
          .swiper-slide.list-menu__item {
            @include text-style-text-text-2;
            max-width: max-content;
            border-radius: 10px;
            background: #fff;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            display: flex;
            width: fit-content;
            justify-content: center;
            align-items: center;
            .facets__label.facet-checkbox {
              padding: 17px 25px;
            }
            .facets__label.facet-checkbox:hover .facet-checkbox__text {
              text-decoration: none;
            }
          }
        }
      }
      .swiper-button-next::after,
      .swiper-button-prev::after {
        content: none;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          height: 10px;
          width: 6px;
        }
      }
      .swiper-button-next {
        right: -17px;
      }
      .swiper-button-prev {
        left: -2px;

        svg {
          transform: rotate(180deg);
        }
      }
      .swiper-button-prev.swiper-button-disabled {
        display: none !important;
      }
      .swiper-button-next.swiper-button-disabled {
        display: none !important;
      }
    }
  }
}
