@import "../variables-and-mixins.scss";

.section-faq {
  padding: 20px 0 80px;

  @media ($lg) {
    padding: 50px 0 100px;
  }

  &__wrapper {
    background: $color-colors-white;
    border-radius: 10px;
    padding: 60px 0;

    @media ($lg) {
      padding: 100px 0 90px;
    }
  }

  .title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media ($lg) {
      margin-bottom: 50px;
    }
  }
}
