@import "../variables-and-mixins.scss";

.section-products {
	padding: 50px 0 80px;
	overflow: hidden;

	@media ($lg) {
		padding-bottom: 100px;
	}

	.title {
		text-align: center;
		text-transform: uppercase;
	}

	&__btn {
		text-align: center;
		margin-top: 50px;

		.btn {
			color: $color-text-main;
			background: transparent;
			border-color: $color-text-main;

			&:hover,
			&:focus {
				color: $color-colors-white;
				background: $color-colors-main;
				border-color: $color-colors-main;
			}
		}
	}

	.banner-innerr {
		&__box_button {
			text-align: center;
			margin-top: 50px;

			.buttonn {
				@include btn;
				color: var(--color-color-button-label);
				border: 1px solid var(--color-color-button-border);
				background: var(--color-button-background);

				&:hover,
				&:focus {
					color: var(--hover-color-button-label);
					background: var(--hover-color-button-background);
					border: 1px solid var(--hover-color-button-border);
				}
			}
		}
	}

	.collection {
		padding: 0;
	}

	.page-width .page-width {
		padding: 0;
	}

	@media screen and (min-width: 749px) and (max-width: 990px) {
		slider-component.page-width {
			padding: 0 35px;
		}
	}
}
