@import "./../variables-and-mixins.scss";

body {
  font-family: $font-family-global;
  background-color: $color-colors-element;
  color: $color-text-main;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gradient {
  background-color: $color-colors-element;
}
main {
  flex: 1 0 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote {
  @include removed-top-button-margins;
}
h2{
  margin-top: 0 !important;
}
a {
  color: $color-text-link;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

iframe,
img,
svg,
video {
  max-width: 100%;
  height: auto;
}

button,
[type="submit"],
[type="button"] {
  font-size: 16px;
  cursor: pointer;

  &:disabled {
    @include disabled;
  }
}

dialog {
  max-width: none;
  max-height: none;
  margin: 0;
  padding: 0;
  border: none;
  display: block;

  &[data-is-modal="true"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    overflow: auto;
    scrollbar-gutter: stable;
    text-align: center;
    white-space: nowrap;

    &::after {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%;
      content: "";
    }

    > :first-child {
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      text-align: left;
    }
  }

  &:not([open]) {
    display: none;
  }

  &::backdrop {
    background: transparent;
  }
}

[hidden] {
  display: none !important;
}
