<div class="page-width">
    {% for block in section.blocks %}
        {% if block.settings.title != blank %}
                <h3 style="color:{{ block.settings.color_title_label }}" class="title">{{ block.settings.title }}</h3>
      <div class="custom-contact-form">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
      <script>
        hbspt.forms.create({
          region: 'na1',
          portalId: '23904200',
          formId: 'b12ba1c3-435f-4022-a8ac-97958114afd3'
        });
      </script>
      </div>
        {% endif %}
     
    {% endfor %}
</div>

{% schema %}
    {
      "name": "contact-form-custom",
      "tag": "section",
      "class": "section contact-form-custom",
      "settings": [
        {
          "type": "checkbox",
          "id": "include_margins",
          "default": true,
          "label": "t:sections.apps.settings.include_margins.label"
        }
      ],
      "blocks": [
        {
          "type": "contact-form",
          "name": "contact-form",
          "limit": 25,
          "settings": [
            {
            "type": "inline_richtext",
            "id": "title",
            "label": "form-title"
            },
            {
          "type": "color",
          "id": "color_title_label",
          "label": "Color Title Label",
          "default": "#383633"
        }
     
          ]
        }
      ],
      "presets": [
        {
          "name": "contact form custom",
          "blocks": [
                 
          ]
        }
      ]
    }
{% endschema %}