<div class="page-width">
    <h2 class="title" style="color:{{ section.settings.color_title_label }}; font-size:{{ section.settings.font_size }}px;">{{ section.settings.section-title }}</h2>
    <div class="faq-form-wraper">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
      <script>
        hbspt.forms.create({
          region: "na1",
          portalId: "23904200",
          formId: "ddefa238-8226-4095-b257-a3133a91ef96"
        });
      </script>
    </div>
</div>

{% schema %}
    {
      "name": "lead pastor coaching",
      "tag": "section",
      "class": "section topics",
      "settings": [
        {
          "type": "checkbox",
          "id": "include_margins",
          "default": true,
          "label": "t:sections.apps.settings.include_margins.label"
        },
        {
          "type": "richtext",
          "id": "section-title",
          "label": "section title"
        },
        {
          "type": "color",
          "id": "color_title_label",
          "label": "Color Title Label",
          "default": "#383633"
        },
        {
          "type": "text",
          "id": "font_size",
          "label": "Font Size Enter Number"
        }
      ],
      "blocks": [
     
      ],
      "presets": [
        {
          "name": "Lead pastor coaching",
          "blocks": [
              
          ]
        }
      ]
    }
{% endschema %}