
<div class="page-width">
                <div class="splide" id="reviews-slider-with-image">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="review" style="background: #e2e2e2">
                                    <div class="review__image">
                                        <img src="assets/images/review-seeds-logo.png" alt="">
                                    </div>
                                    <div class="review__wrapper">
                                        <h2 class="review__title">Lorem ipsum dolor sit amet consectetur. </h2>
                                        <p>Lorem ipsum dolor sit amet consectetur. Odio volutpat massa id neque et.
                                            Facilisi et
                                            in lobortis facilisi. Sed elementum pharetra nisl ultrices tristique nulla
                                            eu. </p>
                                        <div class="review__author">
                                            <div class="review__avatar">
                                                <img src="assets/images/avatar-2.png" alt="">
                                            </div>
                                            <div class="review__content">
                                                <h3 class="review__name">Jabin Chavez</h3>
                                                <h4 class="review__location">City Light Church, Las Vegas</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="review" style="background: #f4f8fa">
                                    <div class="review__image">
                                        <img src="assets/images/review-seeds-logo.png" alt="">
                                    </div>
                                    <div class="review__wrapper">
                                        <h2 class="review__title">Lorem ipsum dolor sit amet consectetur. </h2>
                                        <p>Lorem ipsum dolor sit amet consectetur. Odio volutpat massa id neque et.
                                            Facilisi et
                                            in lobortis facilisi. Sed elementum pharetra nisl ultrices tristique nulla
                                            eu. </p>
                                        <div class="review__author">
                                            <div class="review__avatar">
                                                <img src="assets/images/avatar-2.png" alt="">
                                            </div>
                                            <div class="review__content">
                                                <h3 class="review__name">Jabin Chavez</h3>
                                                <h4 class="review__location">City Light Church, Las Vegas</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="review" style="background: #e2e2e2">
                                    <div class="review__image">
                                        <img src="assets/images/review-seeds-logo.png" alt="">
                                    </div>
                                    <div class="review__wrapper">
                                        <h2 class="review__title">Lorem ipsum dolor sit amet consectetur. </h2>
                                        <p>Lorem ipsum dolor sit amet consectetur. Odio volutpat massa id neque et.
                                            Facilisi et
                                            in lobortis facilisi. Sed elementum pharetra nisl ultrices tristique nulla
                                            eu. </p>
                                        <div class="review__author">
                                            <div class="review__avatar">
                                                <img src="assets/images/avatar-2.png" alt="">
                                            </div>
                                            <div class="review__content">
                                                <h3 class="review__name">Jabin Chavez</h3>
                                                <h4 class="review__location">City Light Church, Las Vegas</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="review" style="background: #f4f8fa">
                                    <div class="review__image">
                                        <img src="assets/images/review-seeds-logo.png" alt="">
                                    </div>
                                    <div class="review__wrapper">
                                        <h2 class="review__title">Lorem ipsum dolor sit amet consectetur. </h2>
                                        <p>Lorem ipsum dolor sit amet consectetur. Odio volutpat massa id neque et.
                                            Facilisi et
                                            in lobortis facilisi. Sed elementum pharetra nisl ultrices tristique nulla
                                            eu. </p>
                                        <div class="review__author">
                                            <div class="review__avatar">
                                                <img src="assets/images/avatar-2.png" alt="">
                                            </div>
                                            <div class="review__content">
                                                <h3 class="review__name">Jabin Chavez</h3>
                                                <h4 class="review__location">City Light Church, Las Vegas</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
            <script>
               const reviewsSliderWithImage = document.querySelector('#reviews-slider-with-image');
            
               if (reviewsSliderWithImage) {
                  reviewsSliderWithImage.classList.add( 'splide_ready' );
            
                  new Splide( '#reviews-slider-with-image', {
                     type: 'loop',
                     perPage: 1,
                     gap: 30,
                     autoplay: true,
                     interval: 7000,
                     speed: 2000,
                     easing: 'ease-out',
                     arrows: true,
                     pauseOnHover: true,
                     pagination: true,
                  } ).mount();
               }
            </script>
        {% schema %}
            {
              "name": "slider",
              "tag": "section",
              "class": "section reviews-slider-with-image",
              "settings": [
                {
                  "type": "checkbox",
                  "id": "include_margins",
                  "default": true,
                  "label": "t:sections.apps.settings.include_margins.label"
                },
                {
                  "type": "inline_richtext",
                  "id": "section-title",
                  "label": "slider title"
                },
                {
                  "type": "color",
                  "id": "color_title_label",
                  "label": "title color",
                  "default": "#383633"
                }
              ],
              "blocks": [
                {
                  "type": "card",
                  "name": "card",
                  "limit": 25,
                  "settings": [
                    {
                      "type": "image_picker",
                      "id": "logo",
                      "label": "logo Image"
                    },
                    {
                      "type": "inline_richtext",
                      "id": "categoty",
                      "label": "category"
                    },
                    {
                      "type": "color",
                      "id": "color_category_label",
                      "label": "Color category label",
                      "default": "#fff"
                    },
                    {
                      "type": "color",
                      "id": "color_category_back",
                      "label": "category background color",
                      "default": "#342663"
                    },
                    {
                      "type": "inline_richtext",
                      "id": "title",
                      "label": "title"
                    },
                    {
                      "type": "color",
                      "id": "color_title_label",
                      "label": "Color Title Label",
                      "default": "#383633"
                    },
                    {
                      "type": "inline_richtext",
                      "id": "text",
                      "label": "text"
                    },
                    
                    {
                      "type": "color",
                      "id": "color_text_label",
                      "label": "Color Text Label",
                      "default": "#383633"
                    },
                    {
                      "type": "inline_richtext",
                      "id": "button-label",
                      "label": "button label"
                    },
                    {
                      "type": "color",
                      "id": "color_hover_btn",
                      "label": "Color button Label",
                      "default": "#383633"
                    },
                    {
                      "type": "color",
                      "id": "color_link_back",
                      "label": "category link background",
                      "default": "#342663"
                    },
                    {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button link"
                    }
                  ]
                }
              ],
              "presets": [
                {
                  "name": "slider",
                  "blocks": [
                    {"type": "card"},
                    {"type": "card"},
                    {"type": "card"},
                    {"type": "card"},
                    {"type": "card"}       
                  ]
                }
              ]
            }
        {% endschema %}