<section class="text-section">
  <div class="page-width">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'title' %}
          {%- if block.settings.title != blank -%}
            <h2 class="title" style=" color: {{ block.settings.color_title_label }};">
              {{ block.settings.title -}}
            </h2>
          {%- endif -%}
        {% when 'description' %}
          {%- if block.settings.description != blank -%}
            <p class="image-content__description" style=" color:{{ block.settings.color_description_label }};">
              {{ block.settings.description }}
            </p>
          {%- endif -%}
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "text-section",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color_title_label",
          "label": "Color Title Label",
          "default": "#383633"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "color_description_label",
          "label": "Color Description Label",
          "default": "#918677"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Section"
    }
  ]
}
{% endschema %}
