---
pageTitle: FAQ
---

<link rel="stylesheet" href="{{root}}assets/css/banner.css">
<section class="banner">
	<img class="object-fit object-fit-cover" src="{{root}}assets/images/faq-banner.jpg" alt="">
	<div class="inner">
		<h1 class="banner__title">Frequently Asked Questions</h1>
	</div>
</section>
